*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}



/* ============================== 
        header_part start
==============================*/


.header_part{
    margin : 35px 0;
    line-height: 50px;

}

.header_part .date{
    background-color: #D72924;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
}

.header_part .date::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #EAEAEA;
    right: -35px;
    top: 0;
}
.header_part .social_icon a{
    padding-right: 20px;
    color: #000000;
}

.header_part .social_icon .btn{
    padding: 8px 30px;
    background-color: #FF4455;
    border-radius: 5px;
    text-align: right;
    margin-left: 30px;
    color: #FFFFFF;
}
/* =======================
            navbar-part
    ========================== */

nav .menu{
    background-image: linear-gradient(150deg,#0575E6 0%,#0CE89D 100%);
    padding: 15px 0;
    margin-bottom: 50px;
}

nav .menu ul{
    margin-bottom: 0;
}
nav .menu ul li{
    display: inline-block;
    padding-right: 40px;
}

nav .menu ul li a{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav .menu ul li:nth-child(3){
    position: relative;
}
nav .menu ul li .dropdown{
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background: #ffffff;
    padding-left: 0;
    -webkit-box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
}
nav .menu ul li:hover .dropdown {
    top: 39px;
    opacity: 1;
    visibility: visible;
}

nav .menu ul li .dropdown li {
    width: 200px;
    display: block;
    text-align: left;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    padding: 10px 10px;
}

nav .menu ul li .dropdown li a{
    color: #000000;
}

nav .menu ul li .dropdown2 li a{
    color: #000000;
}
nav .menu ul li:nth-child(6){
    position: relative;
}

nav .menu ul li:nth-child(6) .dropdown li .dropdown{
    left: 100%;
    top: 30px;
    opacity: 0;
    visibility: hidden;
}

nav .menu ul li:nth-child(6) .dropdown li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top:0;
}

nav .menu ul li:nth-child(6) .dropdown .dropdown2 {
    position: absolute;
    left: 100%;
    background-color: #ffffff;
    padding-left: 0;
    bottom: -45px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
}

nav .menu ul li:nth-child(6) .dropdown li:nth-child(2):hover .dropdown2 {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

/* =======================
          news_part
========================== */
.news .travel{
    width: 100%;
    background: url(../images/main_post.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    height: 610px;
    background-size: cover;
}
.news>.travel>img{
    width: 100%;
    min-height: 610px;}

.news .travel{
    position: relative;
}

.news .travel .gradien_color{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,transparent 55%,rgba(0,0,0,.95) 100%);
    width: 100%;
    height: 100%;
} 
.news .travel .news_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 55%,rgb(0 0 0 / 24%) 100%);
    padding: 0 31px;
}
.news .travel .news_bottom>a{

        display: inline-block;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 21px;
        letter-spacing: .55px;
        background-color: #ff6e0d;
        border-radius: 5px;
}
.news .travel .news_bottom h3{
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
}