*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}


/* ============================== 
        header_part start
==============================*/


.header_part{
    margin : 35px 0;
    line-height: 50px;

}

.header_part .date{
    background-color: #D72924;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
}

.header_part .date::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #EAEAEA;
    right: -35px;
    top: 0;
}
.header_part .social_icon a{
    padding-right: 20px;
    color: #000000;
}

.header_part .social_icon .btn{
    padding: 8px 30px;
    background-color: #FF4455;
    border-radius: 5px;
    text-align: right;
    margin-left: 30px;
    color: #FFFFFF;
}
/* =======================
            navbar-part
    ========================== */

nav .menu{
    background-image: linear-gradient(150deg,#0575E6 0%,#0CE89D 100%);
    padding: 15px 40px;
    margin-bottom: 50px;
    border-radius: 5px;
}

nav .menu ul{
    margin-bottom: 0;
    z-index: 9999;
}
nav .menu ul li{
    display: inline-block;
    padding-right: 40px;
}

nav .menu ul li a{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav .menu ul li:nth-child(3){
    position: relative;
}
nav .menu ul li .dropdown{
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background: #ffffff;
    padding-left: 0;
    -webkit-box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
}
nav .menu ul li:hover .dropdown {
    top: 39px;
    opacity: 1;
    visibility: visible;
}

nav .menu ul li .dropdown li {
    width: 200px;
    display: block;
    text-align: left;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    padding: 10px 10px;
}

nav .menu ul li .dropdown li a{
    color: #000000;
}

nav .menu ul li .dropdown2 li a{
    color: #000000;
}
nav .menu ul li:nth-child(6){
    position: relative;
}

nav .menu ul li:nth-child(6) .dropdown li .dropdown{
    left: 100%;
    top: 30px;
    opacity: 0;
    visibility: hidden;
}

nav .menu ul li:nth-child(6) .dropdown li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top:0;
}

nav .menu ul li:nth-child(6) .dropdown .dropdown2 {
    position: absolute;
    left: 100%;
    background-color: #ffffff;
    padding-left: 0;
    bottom: -45px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
}

nav .menu ul li:nth-child(6) .dropdown li:nth-child(2):hover .dropdown2 {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

/* =======================
          news_part
========================== */
.news{
    margin-bottom: 50px;
}
.news .travel{
    width: 100%;
    background: url(../images/main_post.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    height: 610px;
    background-size: cover;
}
.news>.travel>img{
    width: 100%;
    min-height: 610px;}

.news .travel{
    position: relative;
    transition: .4s;
}

.news .travel .gradien_color{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,transparent 55%,rgba(0,0,0,.95) 100%);
    width: 100%;
    height: 100%;
} 
.news .travel .news_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,transparent 55%,rgb(0 0 0 / 24%) 100%);
    padding: 0 31px;
}
.news .travel .news_bottom>a{

        display: inline-block;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 21px;
        letter-spacing: .55px;
        background-color: #ff6e0d;
        border-radius: 5px;
}
.news .travel .news_bottom h3{
    color: #fff;
    font-size: 31px;
    font-weight: 800;
    line-height: 44px;
}
.news .travel .news_bottom .post_metainfo li, .trending_part .health .sports_content li {
    display: inline-block;
}

.news .travel .news_bottom .post_metainfo li img{
    width: 25px;
    height: 25px;
}
.news .travel .news_bottom .post_metainfo li span{
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
}
.news .travel .news_bottom .post_metainfo li:nth-child(2){
    margin-left: 40px;
}
.news .travel .news_bottom .post_metainfo li:nth-child(2) a,.trending_part .health .sports_content li a{
    color: #ffffff;
    font-size: 15px;
}
.news .travel .news_bottom .post_metainfo li:nth-child(3){
    margin-left: 40px;
}
.news .travel .news_bottom .post_metainfo li:nth-child(3) a{
    color: #ffffff;
    font-size: 15px;
}

.news .travel:hover{
    box-shadow: rgb(0 0 0 / 21%) -20px 11px 0px 292px inset;
}
.news .sports, .health{
    position: relative;
    margin-bottom: 20px;
}
.news .sports img, .health img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.news .sports .overlay , .health .overlay{
    position: absolute;
    background-color:#f85060e6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}
.news .health .overlay{
    background: #0ab6a1e3;
}

.news .sports .overlay>a , .health .overlay>a{
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 21px;
    letter-spacing: .55px;
    background-color: #4ab106;
    border-radius: 5px;
}
.news .sports .overlay h4, .health .overlay h4{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);
    margin-top: 5px;
}
.news .sports .overlay .sports_content , .health .overlay .sports_content{
    margin-bottom: 0;
}
.news .sports .overlay .sports_content li , .health .overlay .sports_content li {
    display: inline-block;
}
.sports .overlay .sports_content li a, .Technology .content ul li, .health .overlay .sports_content li a {
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
}

.sports .overlay p, .health .overlay p{
    font-size: 13px;
    color: rgba(255,255,255,.8);
    margin-top: 0;
} 

.news .Technology img , .food img{
    width: 100%;
    object-fit: cover;
    min-height: 420px;
}


.news .Technology , .food{
    position: relative;
}

.news .Technology .gradient_color , .food .gradient_color{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 55%,rgba(0,0,0,.95) 100%);

}
.news .Technology .content , .food .content{
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;    
    padding: 20px;
}

.news .Technology .content>a , .food .content>a{
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 21px;
    letter-spacing: .55px;
    background-color: #007BFF;
    border-radius: 5px;
    margin-bottom: 10px;
}
.news .food .content>a{
    background-color: #FFAF31;
}

.news .Technology .content h4, .food .content h4{
    font-size: 22px;
    color: #fff;
}


.news .Technology .content ul li, .food .content ul li{
    display: inline-block;
    margin-right: 20px;
}

.news .Technology .content ul li a, .food .content ul li a{
    color: #ffffff;
}

.news .food{
    margin-bottom: 20px;
}

/* =================
    trending_part
=================*/
.trending_part {
    padding-bottom: 50px;
    background-color: #F7F7F7;
    padding-top: 10px;
}
.trending_part h2{
    position: relative;
    padding: 40px 0 ;
    color: #101010;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}
.trending_part h2 span {
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: red;
    top: 50%;
    left: -28px;
    transform: translate(-50%, -50%);
}
.trending_part .health{
    position: relative;
}

.trending_part .health img{
    width: 100%;    
    min-height: 316px;
    object-fit: cover;
}

.trending_part .health .sports_content{
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 35px 15px;
}
.trending_part .health .sports_content>a{
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 21px;
    letter-spacing: .55px;
    background-color: #84BE38;
    border-radius: 5px;
    margin-bottom: 10px;
}

.trending_part .health .sports_content h4{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);
}
.trending_part .health .sports_content li a{
    margin-right: 20px;
}
.trending_part h3{

}
